{% extends 'base/base.html' %}
{% block title %}NBA Fan Zone - Reset Password Complete{% endblock title %}

{% block content %}
    <main>
        <section class="auth-section">
            <div class="basketball-animation"></div>
            <div class="auth-container">
                <div class="auth-content">
                    <h1>Password Reset Complete</h1>
                    <p>Your password has been successfully reset. You can now sign in with your new password.</p>
                    <a href="{% url "accounts:login" %}" class="auth-button" style="display:inline-block;text-align:center;">Sign In</a>
                </div>
                <div class="auth-image">
                    <img src="https://www.hoopswallpapers.com/wallpapers/2024/lebron-james-usa-wallpaper-mobile.jpg" alt="LeBron James" class="lebron-image">
                </div>
            </div>
        </section>
    </main>
{% endblock content %}