{% extends 'base/base.html' %}
{% block title %}NBA Fan Zone - Reset Password Sent{% endblock title %}

{% block content %}
    <main>
        <section class="auth-section">
            <div class="basketball-animation"></div>
            <div class="auth-container">
                <div class="auth-content">
                    <h1>Check Your Email</h1>
                    <p>We have sent a link to your email address to reset your password.<br>
                    Please check your inbox and click the link to continue the password reset process.</p>
                    <div class="email-letter">
                        <img src="https://w0.peakpx.com/wallpaper/363/685/HD-wallpaper-email-youve-got-mail-you-have-new-mail-web-mail.jpg" alt="Email Letter" class="email-icon">
                    </div>
                </div>
                <div class="auth-image">
                    <img src="https://www.hoopswallpapers.com/wallpapers/2024/lebron-james-usa-wallpaper-mobile.jpg" alt="LeBron James" class="lebron-image">
                </div>
            </div>
        </section>
    </main>
{% endblock content %}