{% extends 'base/base.html' %}
{% block title %}NBA Fan Zone - Reset Password{% endblock title %}

{% block content %}
    <main>
        <section class="auth-section">
                <div class="basketball-animation"></div>
                <div class="auth-container">
                    <div class="auth-content">
                    <h1>Reset Password</h1>
                    <p>Enter your email to receive a password reset link</p>
                    <form class="auth-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <i class="fas fa-envelope"></i>
                            <input type="email" id="email" name="email" placeholder="Email Address" required>
                        </div>
                        <button type="submit" class="auth-button">Send Reset Link</button>
                    </form>
                    <p class="auth-switch">
                        Remember your password? <a href="{% url "accounts:login" %}">Sign In</a>
                    </p>
                </div>
                <div class="auth-image">
                    <img src="https://www.hoopswallpapers.com/wallpapers/2024/lebron-james-usa-wallpaper-mobile.jpg" alt="LeBron James" class="lebron-image">
                </div>
            </div>
        </section>
    </main>
{% endblock content %}